# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Data or temp files
*.csv
*.tsv
*.log
*.sqlite
*.json

# OS files
.DS_Store

# large data files
*.bz2
*.csv
